{
  "root": true,
  "extends": ["@react-native-community"],
  "plugins": ["import"],
  "rules": {
    "import/no-unresolved": "error"
  },
  "parser": "@babel/eslint-parser",
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "."
      }
    }
  }
}
